var una funcion = new funcion ("hola mundo");
<console class="log"> </console>
     var un numero = 1;
     <console class="log"></console>
     una palabra = "Hola mundo"
     <console class="log"></console>
     una fecha = new date ();
     <console class="log"></console> 
     var Undato; 
     <console class="log"></console>